[submodule "firefox"]
	path = themes/firefox
	url = https://github.com/carve/dracula-theme-darker_firefox
[submodule "iterm"]
	path = themes/iterm
	url = https://github.com/carve/dracula-theme-darker_iterm
[submodule "jetbrains"]
	path = themes/jetbrains
	url = https://github.com/carve/dracula-theme-darker_jetbrains
[submodule "vim"]
	path = themes/vim
	url = https://github.com/carve/dracula-theme-darker_vim
[submodule "visual-studio-code"]
	path = themes/visual-studio-code
	url = https://github.com/carve/dracula-theme-darker_visual-studio-code
[submodule "windows-terminal"]
	path = themes/windows-terminal
	url = https://github.com/carve/dracula-theme-darker_windows-terminal
[submodule "wordpress"]
	path = themes/wordpress
	url = https://github.com/carve/dracula-theme-darker_wordpress
[submodule "zsh"]
	path = themes/zsh
	url = https://github.com/carve/dracula-theme-darker_zsh